name: create a issue using rest api
on:
  push:
  workflow_dispatch: 
jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      -  name: create issue using RestApi
         run: |
           curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository_owner}}/${{ github.repository}}/issues \
            -d '{"title":"Found a bug","body":"I'\''m having a problem with this.","assignees":["iamdevops995"],"milestone":1,"labels":["bug"]}'