name: Workflows with large secrets

on: 
  push:
  workflow_dispatch:
  

jobs:
  decrypt_secret-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Decrypt large secret
        run: ./decrypt_secret.sh
        env:
          LARGE_SECRET_PASSPHRASE: ${{ secrets.LARGE_SECRET_PASSPHRASE }}
      - name: Test printing your secret (Remove this step in production)
        run: cat $HOME/secrets/my_secret.json
