name: Variables and secrets
on: push
env:
  DOCKER_USERNAME: iamdevops995
  DOCKER_REGISTRY: docker.io
  IMAGE_NAME: test01
  IMAGE_TAG: v1
jobs:
    docker_login:
        runs-on: ubuntu-latest
        steps:
        - name: docker login
          env:
            DOCKER_PASSWORD: P@ssword
          run: echo "docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD"
    docker_build:
        runs-on: ubuntu-latest
        needs: docker_login
        steps:
        - name: Docker build
          run: echo "docker build -t ${{ env.DOCKER_REGISTRY}}/$DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG"
    docker_push:
        runs-on: ubuntu-latest
        needs: docker_build
        steps:
        - name: Docker build
          run: echo  "docker push ${{ env.DOCKER_REGISTRY}}/$DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG"   
    