name: Variables and secrets
on: push
env:
  DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
  DOCKER_REGISTRY: docker.io
  IMAGE_NAME: test01
  IMAGE_TAG: v1
jobs:
    docker_login:
        runs-on: ubuntu-latest
        steps:
        - name: docker login
          run: echo docker login --username=${{ vars.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
    docker_build:
        runs-on: ubuntu-latest
        needs: docker_login
        concurrency: 
          group: production-build
          cancel-in-progress: true
        steps:
        - name: Docker build
          run: echo "docker build -t ${{ env.DOCKER_REGISTRY}}/$DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG"
        - name: Sleep for 10m
          run: sleep 360    
    docker_push:
        runs-on: ubuntu-latest
        needs: docker_build
        steps:
        - name: Docker build
          run: echo  "docker push ${{ env.DOCKER_REGISTRY}}/$DOCKER_USERNAME/$IMAGE_NAME:$IMAGE_TAG"   
    