name: workflow filters and activities

on:
    # schedule:
    #     - cron: "*/59 * * * *"
    push:
        branches: 
            - main
            - '!feature*'
    pull_request: 
        types: 
            - opened
            - closed
        paths-ignore: 
            - README.md
        branches: 
            - main
jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: print message
              run: echo " welcome to filter and activities and event type is  ${{ github.event_name }}"